In [12]:
from pyspark.sql import SparkSession

In [13]:
spark = SparkSession.builder.appName("missing data").getOrCreate()

In [14]:
df = spark.read.csv('ContainsNull.csv', inferSchema=True, header=True )

In [15]:
df.show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2|     | null|
|emp3|     |345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [16]:
df.na.drop().show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp3|     |345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [17]:
df.na.drop(thresh=2).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2|     | null|
|emp3|     |345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [18]:
df.na.drop(subset=["Sales"]).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp3|     |345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [19]:
df.na.drop(how='any').show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp3|     |345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [20]:
df.na.drop(how='all').show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2|     | null|
|emp3|     |345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [21]:
df.na.fill('NEW VALUE').show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2|     | null|
|emp3|     |345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [22]:
df.na.fill(0).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|  0.0|
|emp2|     |  0.0|
|emp3|     |345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [23]:
df.na.fill('No Name',subset=['Name']).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2|     | null|
|emp3|     |345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [25]:
df.show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2|     | null|
|emp3|     |345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [24]:
from pyspark.sql.functions import mean
mean_val = df.select(mean(df['Sales'])).collect()

# Weird nested formatting of Row object!
mean_val[0][0]

400.5

In [26]:
# One (very ugly) one-liner
df.na.fill(df.select(mean(df['Sales'])).collect()[0][0],['Sales']).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|400.5|
|emp2|     |400.5|
|emp3|     |345.0|
|emp4|Cindy|456.0|
+----+-----+-----+